!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>SALUD</title>
</head>

<body>
	<header>Consejos de Salud</header>
	<section>
		<article>
			<h3>La importancia de las mascotas</h3>
			<p>Las mascotas pueden disminuir el estrés
				y la sensación de soledad, mejorar la salud
				del corazón e, incluso, ayudar a los niños
				con sus habilidades emocionales y sociales
			</p>
		</article>
		<article>
			<h3>Concientisemos su salud</h3>
			<p> Lo más vital es que siempre tengan
				disponible agua fresca, limpia y potable,
				así como una alimentación específica que
				logre nutrirlo de acuerdo a sus necesidades
				energéticas, de edad, raza, estilo de vida o
				estado de salud en el que se encuentre y según
				lo indique su médico veterinario.
			</p>
		</article>
		<article>
			<h3>Enfermedades comunes y Sintomas</h3>
			<p>Las enfermedades mas comunes son el parvovirus (Vómitos, diarrea.) <br>
				Tiña(Piel rojiza, costrosa, inflamada con un patrón circular, pérdida de pelo.)<br>
				Parainfluenza(Tos, estornudos, secreciones nasales, fiebre, falta de energía o apetito.)<br>
				Moquillo(inclinación de la cabeza o parálisis,Fiebre, Deshidratación, Dificultad al respirar y tos.)
			</p>
		</article>
	</section>
	<aside>
		<p>Las mascotas son el mejor amigo de la persona,
			es importante cuidarlo y sacarlo a pasear, no dejar
			abandonado y estar consciente de lo que come!<br>
			Dato curioso: Tu perro es tan inteligente como un niño de dos años
		</p>
	</aside>
	<footer>
		<p>Copyright 2023-Nombre del sitio-Diseñado por Grupo
			26-Jujuy República Argentina</p>
	</footer>
</body>

</html>