<!DOCTYPE html>
	<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>FORMULARIO DE CONTACTO</title>
	</head>
<body>
	<header>CONTACTA CON NOSOTROS-HAPPY PETS</header>
	<section id="contacto formulario" >
		  <nav>
          <h3 >CONTACTATE CON NOSOTROS POR CUALQUIER DUDA</h3><br>
          <div class="informacion">
              <img src="https://img.icons8.com/nolan/45/google-maps.png"/> <i>San Salvador de Jujuy (4600)/Argentina</i><br>
              <img src="IMG/m.png"/><i>ejemplo@gmail.com</i><br>
              <img src="https://img.icons8.com/nolan/45/phone.png"/><i>3884784713</i><br>
              <img src="https://img.icons8.com/nolan/45/facebook.png"/><i>EJEMPLO</i><br>
          </div>
          </nav>
          <div class="form">
            <form action="" method="post" role="form" class="contactForm">
                <input type="text" name="name" id="name" placeholder="INGRESE SU NOMBRE" /><br><br>
                <input type="text" name="ciudad" id="ciudad" placeholder="INGRESE SU CIUDAD" /><br><br>
                <input type="email" name="email" id="email" placeholder="INGRESE SU CORREO ELECTRONICO"/><br><br>
                <textarea name="mensaje" rows="5"placeholder="INGRESE UN MENSAJE"></textarea><br>
              <div class="text-center"><button type="submit">ENVIAR EL MENSAJE</button></div><br>
            </form>
          </div>
  </section>
  
</body>
</html>