<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>FORMULARIO DE CONTACTO</title>
<link href="../static/CSS/style.css" rel="stylesheet"/>
</head>
<body id="bodycontactanos">
	
	<div style="text-align:center;">
	<header id="headercontactanos">CONTACTATE CON NOSOTROS POR CUALQUIER DUDA</header>
	</div>
		<section> 
		
			<nav >
				
				<table border="1">
					<tr> 
						<td><a href="./index.html">INICIO </a></td>
				  <td><a href="./consejosSalud.html">CONSEJOS DE SALUD</a> </td>
				  <td><a href="./productos.html">PRODUCTOS </a> </td>
				  <td><a href="./sucursales.html">SUCURSALES</a></td>
				  <td><a href="./horario.html">HORARIOS DE PASEOS</a></td>
				 
					</tr>
				  </table>
		  </nav>
			</section>
	<section id="contacto formulario" >
		  <nav>
		  <br>
          <div>
          	<section id="DATOS">
			<h4>NUESTRA INFORMACION DE CONTACTO</h4>
		</section>
              <img src="https://img.icons8.com/nolan/45/google-maps.png" alt="internet" align="left"/> <i>3913 Av. General Belgrano San Salvador de Jujuy (4600)/Argentina</i><br>
              <br>
              <img src="https://img.icons8.com/neon/45/000000/new-post.png" alt="internet" align="left"/><i>Happypets@gmail.com.ar</i><br>
              <br>
              <img src="https://img.icons8.com/nolan/45/phone.png" alt="internet" align="left"/><i>388-4999999</i><br>
              <br>
              <img src="https://img.icons8.com/nolan/45/facebook.png" alt="internet" align="left"/><i>HAPPY PETS</i><br>
          	  <br>
          </div>
          <br>
          <nav>
			<ul>
			  <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
			  <li><a href="https://www.twitter.com/">TWITTER</a></li>
			  <li><a href="https://www.instagram.com/">INSTAGRAM</a></li>
			  <li><a href="https://www.whatsapp.com/">WHATSAPP</a></li>
			</ul>
		 </nav>
          </nav>
          <div class="form">
            <form id ="idcua" action="" method="post" role="form" class="contactForm">
            
			<h4>DATOS PERSONALES</h4>
                <input type="text" name="name" id="name" placeholder="INGRESE SU NOMBRE" /><br><br>
                <input type="text" name="ciudad" id="ciudad" placeholder="INGRESE SU CIUDAD" /><br><br>
                <input type="email" name="email" id="email"  size="35" placeholder="INGRESE SU CORREO ELECTRONICO"/><br><br>
                <textarea name="mensaje" rows="5"placeholder="INGRESE UN MENSAJE"></textarea><br>
            
            </form>
              <div class="text-center"><button type="submit">ENVIAR EL MENSAJE</button></div><br>
          </div>
  </section>
  
</body>
</html>