<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>horarios de paseos</title>
</head>
<body>
	 <header>HORARIOS DEL SERVICIO DE PASEOS</header>
	 <section id="tabla de servicios de paseo">	
		  <table>
		  <tr>
		    <td style="background-color: rgb(0, 255, 128)">DIA</td>
		    <td style="background-color: rgb(0, 255, 128)">LUNES</td>
		    <td style="background-color: rgb(0, 255, 128)">MARTES</td>
		    <td style="background-color: rgb(0, 255, 128)">MIERCOLES</td>
		    <td style="background-color: rgb(0, 255, 128)">JUEVES</td>
		    <td style="background-color: rgb(0, 255, 128)">VIERNES</td>
		    <td style="background-color: rgb(0, 255, 128)">SABADO</td>
		  </tr>
		  <tr>
		    <td style="background-color: rgb(0, 255, 128)">HORARIO</td>
		    <td>9 a 12 - 16 a 18</td>
		    <td>9 a 12 - 16 a 18</td>
		    <td>9 a 12 - 16 a 18</td>
		    <td>9 a 12 - 16 a 18</td>
		    <td>9 a 12 - 16 a 18</td>
		    <td>9 a 12 - 16 a 18</td>
		  </tr>
		  <tr>
		    <td style="background-color: rgb(0, 255, 128)">PASEADOR</td>
		    <td>Juan Perez</td>
		    <td>Lucas Diaz</td>
		    <td>Juan Perez</td>
		    <td>Maria Gomez</td>
		    <td>Lucas Diaz</td>
		    <td>Roberto Vazquez</td>
		  </tr>
		</table>	
  </section>
</body>
</html>