<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>horarios de paseos</title>
</head>
<body style="text-align:center;">
	 <br>
	 <header>HORARIOS DEL SERVICIO DE PASEOS</header>
	 <br>
	 <section id="tabla de servicios de paseo">
		  <table border="1">
		  <tr>
		    <td style="background-color: rgb(0, 255, 128)" width="120" height="30">DIA</td>
		    <td style="background-color: rgb(0, 255, 128)" width="140">LUNES</td>
		    <td style="background-color: rgb(0, 255, 128)" width="140">MARTES</td>
		    <td style="background-color: rgb(0, 255, 128)" width="140">MIERCOLES</td>
		    <td style="background-color: rgb(0, 255, 128)" width="140">JUEVES</td>
		    <td style="background-color: rgb(0, 255, 128)" width="140">VIERNES</td>
		    <td style="background-color: rgb(0, 255, 128)" width="140">SABADO</td>
		  </tr>
		  <tr>
		    <td style="background-color: rgb(0, 255, 128)" height="30">HORARIO</td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		  </tr>
		  <tr>
		    <td style="background-color: rgb(0, 255, 128)" height="30">PASEADOR</td>
		    <td>Juan Perez</td>
		    <td>Lucas Diaz</td>
		    <td>Juan Perez</td>
		    <td>Maria Gomez</td>
		    <td>Lucas Diaz</td>
		    <td>Roberto Vazquez</td>
		  </tr>
		</table>	
		<br>
  </section>
</body>
</html>