<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>horarios de paseos</title>
<link href="../static/CSS/style.css" rel="stylesheet"/>
</head>

<body id="bodyhorarios">
<header id="headerhorario"> HAPPY PETS</header>
<section>
		<nav id="listahorarios">
			<table border="1">
				<tr > 
					<td><a href="./index.html">INICIO </a></td>
			  <td ><a href="./consejosSalud.html">CONSEJOS DE SALUD</a> </td>
			  <td><a href="./productos.html">PRODUCTOS </a> </td>
			  <td><a href="./sucursales.html">SUCURSALES</a></td>
			  <td><a href="./contactanos.html">CONTACTA CON NOSOTROS </a></td>
				</tr>
			  </table>
	  </nav>
  </section>
	 <br>
	 <header  id="headerhorario2"style="text-align:center;">HORARIOS DEL SERVICIO DE PASEOS</header>
	 <br>
	 <section id="tabladeserviciosdepaseo">
		  <table border="1">
		  <tr id="tr1">
		    <td id="td1" >DIA</td>
		    <td>LUNES</td>
		    <td>MARTES</td>
		    <td>MIERCOLES</td>
		    <td>JUEVES</td>
		    <td>VIERNES</td>
		    <td > SABADO</td>
		  </tr>
		  <tr id="tr2">
		    <td>HORARIO</td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		    <td>  9 a 12 - 16 a 18  </td>
		  </tr>
		  <tr id="tr3">
		    <td id="td3">PASEADOR</td>
		    <td>Kevin Goyochea</td>
		    <td>Lucas Diaz</td>
		    <td>Juan Perez</td>
		    <td>Maria Gomez</td>
		    <td>Lucas Diaz</td>
		    <td>Roberto Vazquez</td>
		  </tr>
		</table>	
		<br>
  </section>
  <footer><p>Copyright 2023-Nombre del sitio-Diseñado por Grupo
	26-Jujuy República Argentina</p></footer>

</body>
</html>