<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Happy Pets</title>
		<link href="../static/CSS/style.css" rel="stylesheet"/>
		</head>
		
		
    	<body id="bodyindex">
			
			<header>	
			<h1>Tienda de Mascotas</h1>
			</header>
			
				
				<nav >
					<table border="1">
						<tr> 
					  <td><a href="./consejosSalud.html">CONSEJOS DE SALUD</a> </td>
					  <td><a href="./productos.html">PRODUCTOS </a> </td>
					  <td><a href="./sucursales.html">SUCURSALES</a></td>
					  <td><a href="./horario.html">HORARIOS DE PASEOS</a></td>
					  <td><a href="./contactanos.html">CONTACTA CON NOSOTROS </a></td>
						</tr>
					  </table>
			  </nav>
			  <div>
				<img src="../static/images/1.png">
			
			
				
					
				<h2> Somos una pequeña empresa Jujeña. Nuestra empresa comenzó hace unos años como un pequeño emprendimiento que, desde sus orígenes fue muy ambiciosa, velaba por el bienestar de las mascotas. Nos dedicamos a la venta de artículos para mascotas y brindamos servicios de paseos, con horarios y precios muy accesibles, a mascotas de todos los tamaños y colores. Esperamos que disfrute de nuestros servicios y nos siga escogiendo</h2>	
			</div>
				<footer> @copyright Grupo 26 tp3 menos Carlos Gabriel Lujan</footer>
			
				
		</body>
			
	</html>