<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Happy Pets</title>
		</head>
		
		<body>
		<img src="../static/images/pets.jpg">
			<header>Enlaces de Interes </header>		
				<ul>
					<li><a href="./consejosSalud.html">CONSEJOS DE SALUD</a></li> 
					<li><a href="./contactanos.html">CONTACTA CON NOSOTROS </a></li>
					<li><a href="./horarios.html">HORARIOS DE PASEOS</a></li>
					<li><a href="./procutos.html">PRODUCTOS </a></li>
					<li><a href="./sucursales.html">SUCURSALES</a></li>
				</ul>
		</body>
			
	</html>