<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Happy Pets</title>
		</head>
		
		<body>
			<div style="text-align:center;">
			<h1>no lo niego</h1>
			<P>1</P>
			<img src="../static/images/pets.jpg"alt="Mascotas en la tienda">
			</div>
			<section id="lista de enlases">
			<h2>LISTA DE ENLASES DE LAS SIGUIENTES PAGINAS</h2>
			<div>
				<nav>
					<ul>
						<li><a href="index.html">INICIO</a></li>
					    <li><a href="Productos.html">PRODUCTOS</a></li>
					    <li><a href="consejosdesalud.html">CONSEJOS DE SALUD</a></li>
					    <li><a href="horariodepaseo.html">SERVICIOS DE PASEOS</a></li>
					    <li><a href="Sucursales.html">SUCURSALES</a></li>
					    <li><a href="contactanos.html">CONTACTANOS</a></li>
					</ul>
				</nav>
			</div>
		</section>
	
		</body>
			
	</html>