<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Happy Pets</title>
<link href="../static/CSS/style.css" rel="stylesheet"/>
</head>
<body id="bodyproductos">
<header id="headerproduct"> HAPPY PETS</header>
<nav >
	<table border="1">
		<tr> 
			<td><a href="./index.html">INICIO </a></td>
	  <td><a href="./consejosSalud.html">CONSEJOS DE SALUD</a> </td>
	  <td><a href="./sucursales.html">SUCURSALES</a></td>
	  <td><a href="./horario.html">HORARIOS DE PASEOS</a></td>
	  <td><a href="./contactanos.html">CONTACTA CON NOSOTROS </a></td>
		</tr>
	  </table>
</nav>
	<section>
	<h1> TIENDA DE PRODUCTOS  </h1>
		<article>
			<h3>Alimento premium</h3>
			
			<p id="productos"><img width="400px" height="400px" alt="" src="../static/images/bolsa_de_alimentos.png">
			La formula de Protemix esta diseñada para satisfacer las 
			necesidades nutricionales especificas de los perros adultos,
			 y contiene proteinas de alta calidad para mantener la masa 
			 muscular y la fuerza, asi como carbohidratos y grasas saludables
			  para proporcionar la energia necesaria para mantener un estilo 
			  de vida activo y saludable.Si estos buscando un alimento de calidad 
			  para tu mascota, considera probar Protemix.
			</p>
		</article>
		<article>
			<h3>Sobre de comida</h3>
			<p id="productos"><img  width="400px" height="400px"  alt="" src="../static/images/sobre_de_comida.png">
			Pedigree Sobrecito Cachorro es alimento humedo nutricionalmente completo y
			 balanceado. Formulado para el mantenimiento de perros en crecimiento. Elaborado
			  a base de exquisitos trocitos de carne cocidos al vapor en una deliciosa salsa, 
			  con proteinas de origen animal de alta calidad proporcionando los nutrientes que 
			  tu cachorro necesita para crecer saludable y con sus defensas fuertes.
			</p>
		</article>
		<article>
			<h3>Cepillo</h3>
			<p id="productos"><img  width="400px" height="400px" alt="" src="../static/images/cepillo_de_mascotas.png">
			Cepillos para gatos y perros de pelo largo e intermedio,
			 equipados con puas inclinadas de acero inoxidable, que 
			 eliminan el pelo muerto, haciendo que la cepillada1 final
			  sea mucho mas facil.
			</p>
		</article>
		<article>
			<h3> Cama</h3>
			<p id="productos"><img  width="400px" height="400px" alt="" src="../static/images/cama_de_mascotas.png">
			Cama para mascotas, medidas de 112cm X 90cm, comoda y acojedora para tu mejor amigo!
			</p>
		</article>
	</section>

	
	<footer>
	<p id="footersucu">Copyright 2023-Nombre del sitio-Diseñado por Grupo
	 26-Jujuy Republica Argentina</p> 
	</footer>
</body>
</html>