<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Happy Pets</title>
</head>
<body>
<header> HAPPY PETS</header>
	<nav>
		<ul>
		    <li><a href="index.html">INICIO</a></li>
			<li><a href="./consejosSalud.html">CONSEJOS DE SALUD</a></li> 
			<li><a href="./contactanos.html">CONTACTA CON NOSOTROS </a></li>
			<li><a href="./horario.html">HORARIOS DE PASEOS</a></li>
			<li><a href="./productos.html">PRODUCTOS </a></li>
			<li><a href="./sucursales.html">SUCURSALES</a></li>
		</ul>
	</nav>
	<section>
	<h1> TIENDA DE PRODUCTOS  </h1>
		<article>
			<h3>Alimento premium</h3>
			<p><img alt="" src="../static/images/PROTEMIX.jpeg">
			La formula de Protemix esta diseñada para satisfacer las 
			necesidades nutricionales especificas de los perros adultos,
			 y contiene proteinas de alta calidad para mantener la masa 
			 muscular y la fuerza, asi como carbohidratos y grasas saludables
			  para proporcionar la energia necesaria para mantener un estilo 
			  de vida activo y saludable.Si estos buscando un alimento de calidad 
			  para tu mascota, considera probar Protemix.
			</p>
		</article>
		<article>
			<h3>Sobre de comida</h3>
			<p><img alt="" src="../static/images/sobre.jpeg">
			Pedigree Sobrecito Cachorro es alimento humedo nutricionalmente completo y
			 balanceado. Formulado para el mantenimiento de perros en crecimiento. Elaborado
			  a base de exquisitos trocitos de carne cocidos al vapor en una deliciosa salsa, 
			  con proteinas de origen animal de alta calidad proporcionando los nutrientes que 
			  tu cachorro necesita para crecer saludable y con sus defensas fuertes.
			</p>
		</article>
		<article>
			<h3>Cepillo</h3>
			<p><img alt="" src="../static/images/cepillo.jpeg">
			Cepillos para gatos y perros de pelo largo e intermedio,
			 equipados con puas inclinadas de acero inoxidable, que 
			 eliminan el pelo muerto, haciendo que la cepillada1 final
			  sea mucho mas facil.
			</p>
		</article>
		<article>
			<h3>Cama</h3>
			<p><img alt="" src="../static/images/cama.jpeg">
			Cama para mascotas, medidas de 112cm X 90cm, comoda y acojedora para tu mejor amigo!
			</p>
		</article>
	</section>
	<aside>
		<p> Contamos con variedad de productos en distinta categorias, la mejor calidad la encontras con nosotros!
		</p>
	</aside>
	<footer>
	<p>Copyright 2023-Nombre del sitio-Diseñado por Grupo
	 26-Jujuy Republica Argentina</p> 
	</footer>
</body>
</html>