<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Happy Pets</title>
</head>
<body>
<header> HAPPY PETS</header>
    <nav>
        <ul>
            <li><a href="./index.html">INICIO</a></li>
            <li><a href="./consejosSalud.html">CONSEJOS DE SALUD</a></li> 
            <li><a href="./contactanos.html">CONTACTA CON NOSOTROS </a></li>
            <li><a href="./horario.html">HORARIOS DE PASEOS</a></li>
            <li><a href="./productos.html">PRODUCTOS </a></li>
            <li><a href="./sucursales.html">SUCURSALES</a></li>
           
        </ul>
    </nav>
    <section>
    <h1> SUCURSALES</h1>
        <article>
            <h3>Gallardo</h3>
            <p>242 Avenida Angel Gallardo Bariloche, Rio Negro-8400</p>
        </article>
        <article>
            <h3>Bahia Serena</h3>
            <p>13076 Avenida Exequiel Bustillo, Bariloche, Rio Negro - 8400</p>
        </article>
        <article>
            <h3>Melipal</h3>
            <p>4191 Av. Pioneros, San Carlos De Bariloche, Rio Negro - 8400</p>
        </article>
        <article>
            <h3>Chango Mas</h3>
            <p>Chango Mas Ruta 40 y Pasaje Gutierrez, San Carlos De Bariloche, Rio Negro - 8400</p>
        </article>
        <article>
            <h3>Elordi</h3>
            <p>698 Elordi, San Carlos De Bariloche, Rio Negro - 8400</p>
        </article>
        <article>
            <h3>Tienda del Este</h3>
            <p>5235 Ruta 40 Norte , San Carlos De Bariloche, Rio Negro - 8400</p>
        </article>
    </section>

    <aside>
        <p>Las mascotas son el mejor amigo de la persona, 
        es importante cuidarlo y sacarlo a pasear, no dejar 
        abandonado y estar consciente de lo que come!<br>
        Dato curioso: Tu perro es tan inteligente como un niño de dos años
        </p>
    </aside>
    <footer>
            <p>Copyright 2023-Nombre del sitio-Diseñado por Grupo
     26-Jujuy Republica Argentina</p> 
     </footer>
</body>
</html>